body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2; /* Light grey background */
}

header {
    background-color: rgb(64, 82, 72) 153, 156);
    color: white;
    text-align: center;
    padding: 10px;
}

header h1 {
    margin: 0;
}

#search-input {
    width: 100%;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #fff; /* White input background */
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.meal-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    max-width: 300px;
    transition: transform 0.2s;
}

.meal-item:hover {
    transform: scale(1.05);
}

.meal-item h3 {
    font-size: 18px;
    color: #35469C; /* Heading color */
}

.meal-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 10px 0;
}

.favorite-button {
    background-color: #333; /* Dark grey button background color */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.favorite-button:hover {
    background-color: #cebcbc; /* Dark grey button hover color */
}

main {
    padding: 20px;
}

#favouriteMeals {
    list-style: none;
    padding: 0;
}

#favouriteMeals li {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.remove-favorite {
    background-color: #d62828; /* Remove favorite button background color */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-favorite:hover {
    background-color: #b92323; /* Remove favorite button hover color */
}
